<div class="container" id="about">
  <div class="row">
    <div class=".col-xs-6 .col-sm-4">
      <h1>About This Page</h1>
      <p>Squid roof party chambray twee. Try-hard keytar VHS four loko, laboris blue bottle nihil put a bird on it wolf cray lo-fi narwhal forage asymmetrical bicycle rights. Keytar heirloom PBR&B umami adipisicing, pitchfork bitters beard master cleanse jean shorts next level. Crucifix cillum bespoke viral heirloom squid. Austin cardigan sed, cliche nesciunt elit adipisicing culpa meditation jean shorts squid poutine proident. Blog brunch asymmetrical, nisi kinfolk farm-to-table voluptate raw denim. Austin nisi yr brooklyn bespoke kinfolk polaroid.</p>
    </div>
    <div class=".col-xs-6 .col-sm-3">
    <%= image_tag("apple.png", width: '250', height: '250', alt: 'apple', class: "apple") %>
    </div>
    <div class=".col-xs-6 .col-sm-3">
      <p>Squid roof party chambray twee. Try-hard keytar VHS four loko, laboris blue bottle nihil put a bird on it wolf cray lo-fi narwhal forage asymmetrical bicycle rights. Keytar heirloom PBR&B umami adipisicing, pitchfork bitters beard master cleanse jean shorts next level. Crucifix cillum bespoke viral heirloom squid. Austin cardigan sed, cliche nesciunt elit adipisicing culpa meditation jean shorts squid poutine proident. Blog brunch asymmetrical, nisi kinfolk farm-to-table voluptate raw denim. Austin nisi yr brooklyn bespoke kinfolk polaroid.</p>
    </div>
  </div>
</div>