// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#error_explanation li{
  color: #000;
}
#error_explanation {
  position: center;
}

#product-menu {
  margin-top: 25px;
}

.product-img {
  height: 200px;
  width: auto;
}

.new-product {
  margin-left: 15px;
  margin-top: 50px;
}

.new-product a:hover {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}

.new-product a, .new-product a:visited {
  color: #fff;
}

.carousel-indicators li {
  background-color: #fff;
  border-color: #f9a11b;
}

.carousel-indicators .active {
  background-color: #f9a11b;
}