// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body 
  margin-top: 100px
  text-align: center
  font-family: 'Open Sans', sans-serif
  background: 
    image: asset_url("stars.gif")
  background-attachment: fixed
  color: white

//nav 
#nav
  width: 100% 

.navbar
  background: #F0C8F2

#bs-example-navbar-collapse-1 li a 
  color: #000 
  font-family: 'Open Sans', sans-serif 

.navbar-brand
  font-weight: bolder

.navbar-right
  margin-left: 200px

//footer
.site-footer 
  padding-top: 20px

.site-footer p
  color: FFF
  position: center

//about
#about 
  font-family: 'Open Sans', sans-serif

#about p
  font-family: 'Open Sans', sans-serif
  font-size: 2em
  line-height: 200%

//apple
.apple
  border-radius: 50%
  -webkit-transition: -webkit-transform .5s ease-in-out
  transition: transform .5s ease-in-out
  -webkit-animation: rotation 2s infinite linear
@-webkit-keyframes rotation
  from
    -webkit-transform: rotate(0deg)
  to
    -webkit-transform: rotate(359deg)

//contact
.contact_form
  margin: 50px
  position: center

.contact_btn
  color: #000

//field form
.field input 
  color: #000
  font-weight: bold
  font-size: 14px
  padding: 5px

//btn
.btn
  color: #000 !important
.btn:hover
  color: #FFF !important

//login
#login_btn:hover
  background-color: #00b3db

//alert notice
.alert
  width: 500px
  display: inline-block
