// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body 
  margin-top: 100px
  text-align: center
  font-family: 'Open Sans', sans-serif
  background: 
    image: asset_url("stars.gif")
  background-attachment: fixed
  color: white
  padding-top: 50px
  height: 400px

.container
  padding-left: 80px 
  padding-right: 80px

//nav 
.navbar
  font-family: 'Open Sans', sans-serif
  background: #F0C8F2
  color: #000

.navbar-brand
  font-weight: bolder

//footer
.site-footer 
  height: auto
  width: 100%
  background: #F0C8F2
  bottom: 0px
  position: fixed
  display: block
  z-index: 100000
  padding-top: 20px

.site-footer p
  color: #000
  position: center

//about
#about 
  font-family: 'Open Sans', sans-serif

#about p
  font-family: 'Open Sans', sans-serif
  font-size: 2em
  line-height: 200%

//apple
.apple
  border-radius: 50%
  -webkit-transition: -webkit-transform .5s ease-in-out
  transition: transform .5s ease-in-out
  -webkit-animation: rotation 2s infinite linear
@-webkit-keyframes rotation
  from
    -webkit-transform: rotate(0deg)
  to
    -webkit-transform: rotate(359deg)

//contact
.contact_form
  margin: 50px
  position: center

.contact_btn
  color: #000