<h1>Products available:</h1>

<div class="container-fluid">
  <div class="row">
    <%= render @products %>
  </div>
</div>


<div class="col-sm-12">
  <%= link_to 'New Product', new_product_path, type: "button", class: "btn btn-default" %>
</div>